<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Numberplate OCR</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/static/styles.css">

  </head>
  <body>
     
    <nav class="navbar1">
      <a class="navbar-brand1" href="">
          <img src="/static/log.jpg" width=60" height="60" class="d-inline-block " alt="Your Logo">
        
      </a>
      <span class="navbar-text">
        <h1 class="display-6">Vehicle Number Plate detection</h1>
      </span>

      
  </nav>



    <nav class="navbar navbar-custom" id="nav">
      <div class="animated-text">
        <div class="line">Hello</div>
        <div class="line">Welcome</div>
        <div class="line">To</div>
        <div class="line">App</div>
      </div>
     
    
    </nav>
   

    <a class="navbar-brand">
    </a>

   
    <div class="wrapper">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
  </div>


  


    {% block body %} {% endblock %}


 

    <div class="navbar" id="nav2">
      <div id=animateone>
        <div class="animate">
          <div class="static-txt">Created By</div>
          <ul class="dynamic-txts">
              <li><span>&copy Aryan Gupta</span></li>
              <li><span>&copy Arnav Rajiv Patnaik</span></li>
              <li><span>&copy Rahul Sai</span></li>
              <li><span>&copy Vikhyat Jalota</span></li>
  
          </ul>
   
        </div>
    
    </div>
    </div>
    
    <div class="loader-container" id="loader">
      <div class="loader"></div>
  </div>
 
 

<div class=cont>

    <div class = container2>
      <div class = card>
        <div class = image>
          <img href = "#" src =/static/back.jpg>
        </div>
        <div class = content>
          <h3>Purpose of this App</h3>
          <p>Vehicle number plate detection is essential for law enforcement to identify and track vehicles involved in crimes. It aids in enforcing traffic regulations and managing parking facilities efficiently.</p>
        </div>
      </div>    
    </div>


    <div class = container3>
      <div class = card3>
        <div class = image3>
          <img href = "#" src =/static/question.png>
        </div>
        <div class = content3>
          <h4>How to use the App?</h4>
          <p>Using our vehicle number plate detection web app is straightforward. Begin by uploading your vehicle image by clickibg the upload button to initiate the process. The detected number plate will then be displayed on the screen.</p>
        </div>
      </div>    
    </div>



    <div class = container4>
      <div class = card4>
        <div class = image4>
          <img href = "#" src =/static/assistant.png>
        </div>
        <div class = content4>
          <h5>Any Queries?</h5>
          <p>For any issues or inquiries, please don't hesitate to reach out to us via email at aryan2002121@gmail.com. Our dedicated support team is here to assist you promptly and provide solutions to your concerns. Your satisfaction is our priority, and we're committed to addressing your needs effectively. Feel free to contact us anytime.</p>
        </div>
      </div>    
    </div>

  </div>

    <div class="github-button">
      <a href="https://github.com/kuchbhiarnav/Vehicle-Number-Plate-Detection/tree/main" target="_blank">GITHUB LINK</a>
  </div>

  </body>
  <script>
    // This script will hide the loader and display the content when your result is ready.
    // You can use JavaScript to hide the loader and show the content when needed.
    window.addEventListener('load', function() {
        // Simulate a delay (you should replace this with your actual result loading logic)
        setTimeout(function() {
            document.getElementById('loader').style.display = 'none';
            document.getElementById('content').style.display = 'block';
        }, 2000); // Adjust the delay as needed
    });
</script>

</html>